<body>
<div class="container">
    <div class="derecho">

        <article class="tar1">
        <div class="descritrekin">
        <h4>Treking</h4>
        <h5>conexion con la naturaleza</h5>
        <p>
        Vive la vida como si fuera una montaña, De vez en cuando mira la
        cumbre, pero más importante es admirar las cosas bellas del camino.
        </p>
        <div class="btn1"><a href="./pages/treking.html"> Quiero ir </a></div>
        </div>
        </article>
        <article class="tar2">
        <div class="imgrafting"></div>
        <div class="descrirafting">
        <h4>Rafting</h4>
        <h5>Adrenalina al maximo</h5>
        <p>
        Rápidos emocionantes y paisajes alucinantes hacen de ésta una aventura
        imperdible para todos aquellos en búsqueda de nuevas experiencias.
        </p>
        <div class="btn1"><a href="#">Que empieze la aventura</a></div>
      </div>
    </article>
    <article class="tar3">
      <div class="imghospedaaje"></div>
      <div class="descrihospedaje">
        <h4>Hospedaje</h4>
        <h5>Confort y Relajacion</h5>
        <p>
          Pasar la noche en este paraíso cordillerano es una experiencia
          inilvidable, descubre todos los tipos de hospedaje.
        </p>
        <div class="btn1"><a href="#">conoce nuestras guias</a></div>
      </div>
    </article>
</div>
  </div>
</body>
